<nav>
  <div class="logo">
    <img src="https://i.imgur.com/4FYvbih.png" alt="logo">
    <h1><a href="/foods">Cajuzinho</a></h1>
  </div>
  <ul>
    <li><a href="/mealplans/new">Create Meal Planner</a></li>
    <li><a href="/foods/new">Add New Dish</a></li>
  </ul>
</nav>
