@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter');


:root {
  --yellow: #d5b939;
  --green: #01391d;
  --red: #e38b41;
  --darkgreen: #1c492c;
}

* {
  /* border: 1px solid gold; */
}

body {
  font-family: 'Architects Daughter', cursive;
  margin: 0;
  padding: 0;
  background-color: #161616;
  position: relative;
}



::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--yellow);
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2em;
}

/* ===== */
/* ABOUT */
/* ===== */

.about-container {
  color: white;
  margin: 0 auto;
  width: 800px;
  /* display: flex;
  justify-content: center; */
}

.about-images img {
  width: 100%;
  border-radius: 10px;
}

.about-images {
  margin: 0 auto;
  width: 80%;
}

.about-text {
  width: 100%;
  margin: 0 auto;
}

.about-container p {
  text-align: center;
  margin: 30px auto;
  font-size: 1.5em;
}

.about-container h1 {
  color: var(--yellow);
}





/* ======= */
/* NAVBAR */
/* ===== */

nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  font-size: 2.5em;
}

.logo img {
  width: 100px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color: var(--yellow);
  font-size: 1.4em;
}

nav a:hover {
  color: var(--red);
}

.dropdown {
  position: relative;
}

#menu {
  font-size: 46px;
  cursor: pointer;
  color: white;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  z-index: 1;
  text-align: right;
  width: 400px;
  border: 1px solid black;
  box-shadow: 5px 5px #4C4C4C;
}

.dropdown-content li {
  background-color: var(--yellow);
  color: black;
  width: 100%;
  display: inline-block;
  opacity: 70%;
}

.dropdown-content a {
  color: black;
  /* width: 300px; */
  font-size: 2.2em;
}

.dropdown:hover .dropdown-content {
  display:block;
}


/* ====== */
/* INDEX */
/* ==== */

.side-tab {
  position: fixed;
  height: 225px;
  width: 70px;
  top: 385px;
  left: 0px;
  background-color: var(--yellow);
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  z-index: 1;
}

.side-tab a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /* margin-top: 20px; */
  /* margin-left: 8px; */
  text-decoration: none;
  color: black;
}

.index-name {
  color: white;
  visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 35%;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.index-cards:hover .index-name {
  visibility: visible;
}

.index-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 60px;
}



.index-cards {
  width: 330px;
  height: 220px;
  margin-bottom: 40px;
  position: relative;
  transition-property: font-size;
  transition-duration: .5s;
}

.index-cards:hover {
  font-size: 26px;
}



.index-img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  /* border: 2px solid var(--yellow); */
  /* box-shadow: 3px 3px var(--yellow); */
  /* transition: .5s ease-in; */
}



/* ================= */
/* SHOW PAGE - FOODS */
/* ================= */


.show-container h3 {
  margin: 40px auto;
}

.show-container {
  margin: 30px auto;
}

.show-image {
  width: 80%;
  margin: 0 auto;
}

.show-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: whitesmoke;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
}

.show-img {
  width: 100%;
  border-radius: 10px;
  margin: 20px auto;
}

.info-cards {
  width: 350px;
  margin-bottom: 30px;
  text-align: center;
}

.info-cards p, .info-cards img {
  border-radius: 3px;
  border: 1px solid grey;
  padding: 20px;
  height: 250px;
  overflow-y: scroll;
  box-sizing: border-box;
  /* text-align: center; */
  width: 100%;
}


.show-delete {
  width: 140px;
  /* margin: 0 auto; */
}

.a-tags {
  width: 140px;
  text-align: center;
  border-radius: 5px;
  display: flex;
}

.a-tags a {
  text-decoration: none;
  color: white;
  padding: 18px 40px;
  background-color: var(--yellow);
  font-size: 1.5em;
  align-self: center;
  border-radius: 5px;
}

.a-tags a:hover {
  background-color: var(--red);
  border: 2px solid var(--yellow);
}



.double-trouble {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

/* ============== */
/*     FORMS     */
/* ============= */

.new-user {
  background-image: url(https://i.imgur.com/JCHrVWf.jpg);
  background-size: cover;
}

.returning-user {
  background-image: url(https://i.imgur.com/DuC0UTE.jpg);
  background-size: cover;
}

.create-dish {
  background-image: url(https://i.imgur.com/Q01f36g.jpg);
  background-size: cover;
}

.food-edit-body {
  background-image: url(https://i.imgur.com/IJuwr1d.jpg);
  background-size: cover;
}

.body-edit-plan {
  background-image: url(https://i.imgur.com/gdqWq1g.jpg);
  background-size: cover;
}

.body-create-plan {
  background-image: url(https://i.imgur.com/HbkZLp8.jpg);
  /* background-size: cover; */
  background-size: cover;
}

.container {
  /* display: flex;
  justify-content: center; */
  color: whitesmoke;
  width: 400px;
  margin: 20px auto;
}

.container-v2 {
  color: whitesmoke;
  width: 900px;
  margin: 20px auto;
}

/* .new-form {
  width: 700px;
} */

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 30px 0;
}

legend {
  padding: 0px 10px;
  background-color: var(--yellow);
}

label {
  display: block;
  font-size: 1.5em;
  text-align: center;
  margin: 10px 0;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.5em;
  box-sizing: border-box;
  border: 2px solid var(--yellow);
  font-family: 'Architects Daughter', cursive;
}

input:focus {
  outline: 0;
  border: 2px solid var(--red);
}

input[type="submit"] {
  width: 100%;
  height: 70px;
  background: var(--yellow);
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
  color: whitesmoke;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  margin: 50px auto;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: var(--red);
}


textarea {
  resize: none;
  height: 200px;
  width: 100%;
  font-family: 'Architects Daughter', cursive;
  box-sizing: border-box;
}

textarea:focus {
  outline: 0;
  border: 2px solid var(--red);
}

h1 {
  text-align: center;
  color: white;
  font-size: 2em;
}

select {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5em;
  font-family: 'Architects Daughter', cursive;
}

.all-info {
  width: 60%;
  margin: 0 auto;
}

h5 {
  color: red;
  margin: 0;
  text-align: center;
  font-size: 1.2em;
}

h4 {
  text-align: center;
}

#create-account {
  color: var(--red);
}


/* ======================== */
/* INDEX PAGE [MEAL PLANS] */
/* ====================== */


.plans-body {
  background-image: url(https://i.imgur.com/4PXtq84.jpg);
  background-size: cover;
}

.plan-index-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px auto;
}

.plan-index-card {
  width: 500px;
  text-align: center;
  background: whitesmoke;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-top: 40px;
  opacity: 70%;
}

.plan-index-card-flex {
  display: flex;
  justify-content: space-around;
}


.horarios h3 {
  text-align: center;
  font-size: 1.7em;
  color: var(--yellow);
  margin: 0;
}

.horarios h4 {
  font-size: 1.5em;
}

.date h1 {
  color: black;
}


.buttons form {
  width: 70%;
}

.form-flex {
  display: flex;
}

.form-flex a {
  width: 50%;
  align-self: center;
  padding: 15px;
  text-decoration: none;
  color: red;
  font-size: 20px;
  margin: 0;
  text-decoration: underline;
}

.form-flex input {
  width: 50%;
  background: none;
  color: red;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  margin: 0;
  align-self: center;
  text-decoration: underline;
  border: none;
}

.form-flex input:hover {
  background: none;
}

#textarea {
  height: 100px;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.notes-scroll {
  overflow-y: scroll;
  height: 150px;
  margin: 10px;
}

/* MEAL PLAN NEW PAGE */

.dish-rolodex {
  display: flex;
}

.cards {
  width: 15%;
}

.cards img {
  width: 100%;
}

.display-container {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.display {
  width: 23%;
  border: 2px solid var(--yellow);
  border-style: inset;
}

.display img {
  width: 100%;
  max-height: 210px;
}

.horarios {
  margin: 25px auto;;
}


/* MOBILE */

@media (max-width: 1125px) {

  * {
    border: 1px solid gold;
  }

  h2 {
    font-size: 7em;
  }

  #menu {
    font-size: 81px;
  }

  .returning-user {
    background-position: center;
  }

  .new-user {
    background-position: center;
  }

  .index-cards {
    width: 85%;
    height: auto;
  }

  .index-container {
    margin: 0;
  }

  .index-img {
    height: auto;
  }

  .about-container h1 {
    font-size: 6em;
  }

  .about-container {
    width: 90%;
  }

  .about-text {
    font-size: 2.5em;
  }

  .about-images {
    width: 90%;
  }


  .container {
    margin: 0 auto;
    width: 85%
  }

  .container-v2 {
    margin-top: 70px;
    width: 90%;
  }

  .new-form {
    width: 100%;
  }


  legend {
    font-size: 2em;
  }

  input {
    font-size: 4em;
  }

  label {
    font-size: 4em;
    margin-top: 30px;
  }

  h1 {
    font-size: 5em;
  }

  h4 {
    font-size: 2em;
  }

  input[type=submit] {
    /* font-size: 3em; */
    height: 130px;
  }

  select {
    font-size: 2em;
    height: 100px;
  }


  .display {
    width: 45%;
  }

  .side-tab {
    position: fixed;
    height: 440px;
    width: 100px;
    top: 40%;
    left: 0px;
    z-index: 1;
    text-align: center;
  }

  .side-tab a {
    font-size: 2em;
  }

}
