@import url('https://fonts.googleapis.com/css2?family=Handlee');

:root {
  --yellow: #d5b939;
  --green: #01391d;
  --red: #dc6a2b;
  --darkgreen: #1c492c;
}

* {
  /* border: 1px solid gold; */
}

body {
  font-family: 'Handlee', cursive;
  margin: 0;
  padding: 0;
  /* background-image: url(https://i.imgur.com/itYfj8U.jpg); */
  background-image: url(https://i.imgur.com/MNVZU6G.jpg);
  /* background-image: url(https://i.imgur.com/RFxeQl3.jpg); */
  /* background-image: url(https://i.imgur.com/DuC0UTE.jpg); */
  background-size: cover;
  position: relative;
}

.side-tab {
  position: fixed;
  height: 210px;
  width: 40px;
  top: 385px;
  left: 0px;
  background-color: var(--yellow);
  border-radius: 0px 5px 5px 0px;
}

.side-tab a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 20px;
  margin-left: 8px;
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--yellow);
  border-radius: 10px;
}

/* ======= */
/* NAVBAR */
/* ===== */

nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 100px;
  transform: rotate(-45deg);
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color: var(--yellow);
  /* font-size: 1em; */
}

nav a:hover {
  color: var(--red);
}

/* #welcome {
  margin: 0 20px;
} */


/* ====== */
/* INDEX */
/* ==== */


.index-name {
  color: white;
  visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 40%;
  text-align: center;
  width: 100%;
}

.index-cards:hover .index-name {
  visibility: visible;
}

.index-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 60px;
}



.index-cards {
  width: 330px;
  margin-bottom: 40px;
  position: relative;
  transition-property: font-size;
  transition-duration: .5s;
}

.index-cards:hover {
  font-size: 26px;
}



.index-img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: 2px solid var(--yellow);
  /* box-shadow: 6px 6px #112121; */
  /* transition: .5s ease-in; */
}


/* .index-img:hover {
  opacity: 0%;
} */

/* ================= */
/* SHOW PAGE - FOODS */
/* ================= */


.show-container h3 {
  margin: 40px auto;
}

.show-container {
  margin: 60px auto;
}

.show-image {
  width: 80%;
  margin: 0 auto;
}

.show-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: whitesmoke;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
}

.show-img {
  width: 100%;
  border-radius: 10px;
  margin: 20px auto;
}

.info-cards {
  width: 350px;
  margin-bottom: 30px;
}

.info-cards p, .info-cards img {
  border-radius: 3px;
  border: 1px solid grey;
  padding: 20px;
  height: 250px;
  overflow-y: scroll;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.show-delete {
  width: 140px;
  /* margin: 0 auto; */
}

.a-tags {
  width: 140px;
  /* margin: 0 auto; */
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
  display: flex;
}

.a-tags a {
  text-decoration: none;
  color: white;
  padding: 14px 37px;
  background-color: var(--yellow);
  align-self: center;
  border-radius: 5px;
}

.a-tags a:hover {
  background-color: var(--green);
  border: 2px solid var(--yellow);
}



.double-trouble {
  display: flex;
  justify-content: center;
}

/* ============== */
/*     FORMS     */
/* ============= */

.container {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  margin: 20px auto;
}

.new-form {
  width: 700px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 30px 0;
}

legend {
  padding: 0px 10px;
  background-color: var(--yellow);
}

label {
  display: block;
  text-align: center;
  margin: 10px 0;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid var(--yellow);
  font-family: 'Handlee', cursive;
}

input:focus {
  outline: 0;
  border: 2px solid yellow;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  background: var(--yellow);
  font-family: 'Handlee', cursive;
  font-size: 16px;
  color: whitesmoke;
  /* border: 0px; */
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  margin: 35px auto;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: var(--green);
}

/* input[type="submit-v2"] */

textarea {
  resize: none;
  height: 200px;
  width: 100%;
  font-family: 'Handlee', cursive;
}

h1 {
  text-align: center;
  color: white;
}

select {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Handlee', cursive;
}

.all-info {
  width: 60%;
  margin: 0 auto;
}





/* ======================== */
/* INDEX PAGE [MEAL PLANS] */
/* ====================== */

.plan-index-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.plan-index-card {
  width: 350px;
  text-align: center;
  background: whitesmoke;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-top: 40px;
}

.plan-index-card-flex {
  display: flex;
  justify-content: space-around;
}


h3 {
  text-align: center;
  color: var(--yellow);
  margin: 0;
}

.date a {
  text-decoration: none;
  color: black;
}


.buttons form {
  width: 70%;
}

.form-flex {
  display: flex;
}

.form-flex a {
  width: 50%;
  align-self: center;
  padding: 15px;
  text-decoration: none;
  color: red;
  font-size: 20px;
  margin: 0;
}

.form-flex input {
  width: 50%;
  background: none;
  color: red;
  font-family: 'Handlee', cursive;
  font-size: 20px;
  margin: 0;
  align-self: center;
}

.form-flex input:hover {
  background: none;
}

#textarea {
  height: 100px;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}


/* MEAL PLAN NEW PAGE */

.dish-rolodex {
  display: flex;
}

.cards {
  width: 15%;
}

.cards img {
  width: 100%;
}

.display-container {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.display {
  width: 23%;
  border: 2px solid var(--yellow);
  border-style: inset;
}

.display img {
  width: 100%;
  max-height: 210px;
}

.horarios {
  margin: 25px auto;;
}
