@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna');

body {
  text-align: center;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

.index-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.show-container {
  display: flex;
  justify-content: center;
}

.index-cards {
  width: 20%;
}

.show-card {
  width: 33%;
}

.show-img {
  width: 100%;
  max-height: 350px;
}

.index-img {
  width: 100%;
  max-height: 350px;
}

/* make it so that the image fades out and text appear with name of dish */
.index-img:hover {
  opacity: 0%;
  transition: .5s ease-in-out;
}

.plan-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plan-index-card {
  width: 15%;
}
