<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/../styles.css">
  </head>
  <body class="about">
    <%- include ('../partials/nav.ejs') %>
    <h1>About Caju</h1>
    <div class="about-container">
      <p>The name of this app was inspired by a fruit that is ubiqitous in Brazil yet quite rare in the US. If you examine its history in more detail, it becomes clear that it is a symbol of human creativity. The kidney-shaped stem atop this fruit contains inside it the cashew nut, something quite familiar to the English-speaking world. Although toxic when raw, the seed is processed .... During the summer when this fruit is not readily available, Brazilians will make a variety of different products with it: caju juice, frozen pulp, ice cream, cajuina, jam, nut butter, nut cheese   </p>
      <div class="about-images">
        <img src="https://i.imgur.com/a9iqDiZ.jpg" alt="caju_tree_painting">
      </div>
    </div>
  </body>
</html>
