<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/../styles.css">
  </head>
  <body class="about">
    <%- include ('../partials/nav.ejs') %>
    <div class="about-container">
      <h1>About Caju</h1>
      <div class="about-text">
      <p>
        The name of this app was inspired by a fruit...e cashew nut, something quite familiar to the English-speaking world. Although toxic when raw, the seed is processed .... During the summer when this fruit is not readily available, Brazilians will make a variety of different products with it: caju juice, frozen pulp, ice cream, cajuina, jam, nut butter, nut cheese
      </p>
      </div>
      <div class="about-images">
        <img src="https://i.imgur.com/azpS4U2.jpg" alt="caju_tree_painting">
      </div>
    </div>
  </body>
</html>
