<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Indigenous Foods of Brazil</h1>
    <img src="https://i.imgur.com/4FYvbih.png" alt="">
    <img src="https://i.imgur.com/3j2Zq2g.png" alt="">
    <img src="https://i.imgur.com/S3RaX3Y.png" alt="">
    <img src="https://i.imgur.com/O2zffiT.png" alt="">
    <img src="https://i.imgur.com/UYwGtXV.png" alt="">
    <img src="https://i.imgur.com/O4yEMdl.png" alt="">
    <img src="https://i.imgur.com/ILNNT6Y.png" alt="">
    <img src="https://i.imgur.com/6HA82e5.png" alt="">
  </body>
</html>
