<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create New Food Page</h1>
    <form class="new-form" action="/foods" method="POST">
      <label for="name">Name</label>
      <input id="name" type="text" name="name">
      <label for="description">Description</label>
      <textarea id="description" name="description"></textarea>
      <label for="img">Image Link</label>
      <input id="img" type="text" name="img">
      <label for="recipe">Recipe</label>
      <input id="recipe" type="text" name="recipe">
      <input type="submit" value="CREATE NEW FOOD">
    </form>
  </body>
</html>
