<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <h1>Indigenous Foods of Brazil</h1>
    <div class="show-container">
      <div class="show-card">
        <h3><%= food.name %></h3>
        <img class="show-img" src="<%= food.img %>" alt="<%= food.name %>">
        <p><%= food.description %></p>
      </div>
    </div>
  </body>
</html>
